* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    width: 300px;
    height: 200px;
    border: 2px solid black;
}
.block2  {
    margin-top: 10px;
    width: 400px;
    height: 300px;
    border: 2px solid black;
}
.block3  {
    margin-top: 10px;
    width: 250px;
    height: 150px;
    border: 2px solid black;
}